#tinkart{
    position: relative;
/*    left : -50px;*/
    font-size: 40pt;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#logo{
    width: 10%;
}
.projectbox {
    position: relative;
    margin-bottom: 20px;
}

.projectbox .description {
    position: absolute;
    top: 0;
    color: #ffffff;
    background: rgba(0,0,0,.7);
    padding: 20px;
    display: none;
    width: 100%;
}

.projectbox:hover .description {
    display: block;
}

.projectbox .meta {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    background: rgba(0,0,0,.7);
    padding: 20px;
    width: 100%;
}

.projectbox .comments {
    float: right;
}

.projectbox .upvote, .projectbox .downvote {
    float: left;
    margin-right: 15px;
}